@charset "UTF-8";


/* *******************************************************************
MULTI
******************************************************************* */


body {
  background-color: #fefefe;
}

section:not(#hero) {
  margin-top: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Muli", sans-serif;
  color: hsl(290, 6%, 18%);
}

p, a, span, li {
  font-family: "Open Sans", sans-serif;
  color: hsl(290, 6%, 18%);
}

h2 {
  font-size: 1.75rem;
}


/* *******************************************************************
OFF CANVAS BAR
******************************************************************* */


#offCanvas {
  background-color: hsl(290, 6%, 18%);
}

#offCanvas a {
  color: #fefefe;
}

#offCanvas a:hover, #offCanvas a:active {
  background-color: hsl(290, 6%, 25%);
  border-style: none;
}

#offCanvas a:focus {
  outline: none;
}

/* *******************************************************************
MOBILE TOP BAR
******************************************************************* */

#mobile-bar {
  padding: 0 0 0 .5rem;
}

#mobile-bar .top-bar-title {
    font-family: orbitron;
    text-transform: uppercase;
    margin-right: 0;
}

#mobile-bar .top-bar-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#mobile-bar {
  background-color: hsl(290, 6%, 18%);
  color: #fefefe;
}

#mobile-bar ul {
  background-color: transparent;
}

#mobile-bar ul li {
  font-size: 1.45rem;
}

#mobile-bar ul li a {
    padding: 1rem .5rem;
  color: #fefefe;
}


/* *******************************************************************
LARGE TOP BAR
******************************************************************* */


#large-topbar {
  z-index: 30;
}

.topbar-sticky-shrink {
  padding: 0 1.75rem;
  transition: padding 0.25s ease;
  background: hsl(290, 6%, 18%);
  box-shadow: 0 2px 3px rgba(100,100,100,.4);
}

.topbar-sticky-shrink .menu {
  background: transparent;
}

.is-stuck .topbar-sticky-shrink {
  padding: 0 1.25rem;
  transition: padding 0.25s ease;
}

[data-sticky] {
  width: 100%;
}

.top-bar h2 {
  font-family: orbitron;
  text-transform: uppercase;
  color: #fefefe;
  text-shadow: 1px 1px 3px #0a0a0a;
  margin-bottom: 0;
}

.topbar-sticky-shrink {
  height: 5rem;
}

.top-bar-right {
  height: 100%;
}


/* *******************************************************************
LARGE TOP BAR UNDERLINING CSS
******************************************************************* */


.menu-hover-lines {
  text-align: center;
  letter-spacing: 1px;
  transition: all 0.35s ease;
  height: 100%;
}

.menu-hover-lines li {
  height: 100%;
  position: relative;
}

.menu-hover-lines li a {
  height: 100%;
  padding: 0.75rem 0;
  color: #fefefe;
  position: relative;
  margin-left: 1rem;
  line-height: 3rem;
}

.menu-hover-lines li:first-child a {
  margin-left: 0;
}

.menu-hover-lines li.active > a {
  background-color: transparent;
}

.menu-hover-lines a:before,
.menu-hover-lines a::after {
  height: 3px;
  position: absolute;
  content: '';
  transition: all 0.35s ease;
  background-color: #daad86;
  width: 0;
}

.menu-hover-lines a::before {
  top: 0;
  left: 0;
}

.menu-hover-lines a::after {
  bottom: 0;
  right: 0;
}

.menu-hover-lines a:hover,
.menu-hover-lines li.active > a {
  color: #daad86;
  transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before,
.menu-hover-lines .active a::before,
.menu-hover-lines a:hover::after,
.menu-hover-lines .active a::after {
  width: 100%;
}


/* *******************************************************************
HERO
******************************************************************* */


#hero {
  background-image: linear-gradient(hsla(28, 53%, 69%,.3), hsla(28, 53%, 69%,.3)), url(../images/brush02.jpg);
  background-position: center, bottom;
  background-size: cover, cover;
  height: 30rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero-text h1, #hero-text h3 {
  font-family: orbitron;
  text-transform: uppercase;
  color: #fefefe;
  text-shadow: 1px 1px 3px #0a0a0a;
}

h1 {
  font-size: 3rem;
}


/* *******************************************************************
PITCH
******************************************************************* */



/* *******************************************************************
WHY CHOOSE
******************************************************************* */


#why {
  color: hsl(290, 6%, 18%);
}

#reasons > div {
  display: flex;
  justify-content: space-around;
}

#reasons i {
  z-index: 2;
  float: left;
  display: block;
  padding-top: 2rem;
  padding-right: 1rem;
  line-height: 0;
  color: hsl(290, 6%, 18%);
  font-size: 3rem;
  transition: .5s 180s;
}

#reasons span {
  width: 100%;
  padding: 2rem 1rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: block;
  transition: .5s 180s;
}


/* *******************************************************************
REASONS ANIMATION
******************************************************************* */


#reasons > div {
  position: relative;
}

#reasons span::before {
  z-index: 1;
  position: absolute;
  left: -.9375rem;
  top: 0;
  content: " ";
  width: 5.4375rem;
  height: 100%;
  transition: .5s 180s;
}

#reasons span::after {
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  content: " ";
  width: .9375rem;
  height: 100%;
  transition: .5s 180s;
  background-color: transparent;
}

/****** B1 ********/

#b1:hover {
  transform: rotate(25deg);
  color: #8bfced;
  transition: .5s;
}

#b1:hover + span::before  {
background-color: #98dafc;
transition: .5s;
}

#b1:hover + span::after  {
background-color: #98dafc;
transition: .5s;
}

#b1:hover ~ span {
background-color: #98dafc;
transition: .5s;
}

/****** B2 ********/

#b2:hover {
  transform: rotate(25deg);
  color: #7ffcb0;
  transition: .5s;
}

#b2:hover + span::before  {
background-color: #8bfced;
transition: .5s;
}

#b2:hover + span::after  {
background-color: #8bfced;
transition: .5s;
}

#b2:hover ~ span {
background-color: #8bfced;
transition: .5s;
}

/****** B3 ********/

#b3:hover {
  transform: rotate(25deg);
  color: #7cfc72;
  transition: .5s;
}

#b3:hover + span::before  {
background-color: #7ffcb0;
transition: .5s;
}

#b3:hover + span::after  {
background-color: #7ffcb0;
transition: .5s;
}

#b3:hover ~ span {
background-color: #7ffcb0;
transition: .5s;
}

/****** B4 ********/

#b4:hover {
  transform: rotate(25deg);
  color: #b8fd65;
  transition: .5s;
}

#b4:hover + span::before {
background-color: #7cfc72;
transition: .5s;
}

#b4:hover + span::after  {
background-color: #7cfc72;
transition: .5s;
}

#b4:hover ~ span {
background-color: #7cfc72;
transition: .5s;
}

/****** B5 ********/

#b5:hover {
  transform: rotate(25deg);
  color: #fdfa59;
  transition: .5s;
}

#b5:hover + span::before {
background-color: #b8fd65;
transition: .5s;
}

#b5:hover + span::after  {
background-color: #b8fd65;
transition: .5s;
}

#b5:hover ~ span {
background-color: #b8fd65;
transition: .5s;
}

/****** B6 ********/

#b6:hover {
  transform: rotate(25deg);
  color: #fda74c;
  transition: .5s;
}

#b6:hover + span::before  {
background-color: #fdfa59;
transition: .5s;
}

#b6:hover + span::after  {
background-color: #fdfa59;
transition: .5s;
}

#b6:hover ~ span {
background-color: #fdfa59;
transition: .5s;
}

/* *******************************************************************
SERVICES
******************************************************************* */


#services {
  padding: 3rem 0;
  background-image: linear-gradient(hsla(28, 53%, 69%,.3), hsla(28, 53%, 69%,.3)), url(../images/buckets960.jpeg);
  background-position: center, center;
  background-size: cover, cover;
}

#services > div:first-of-type {
  margin-bottom: 2rem;
  background-color: hsla(290, 6%, 18%, .75);
}

#services > div:first-of-type h2 {
  color: #fefefe;
}

.accordion-title {
  color: hsl(290, 6%, 18%);
  font-size: 1rem;
}

.accordion p {
  font-size: .9rem;
}

.accordion-title:hover, .accordion-title:focus {
    background-color: hsl(28, 53%, 69%);
    color: hsl(290, 6%, 18%);
    border-left: 12px solid hsl(200, 94%, 79%);
  }


/* *******************************************************************
TESTIMONIALS
******************************************************************* */


#testimonials {
  padding: 3rem 0;
  background: linear-gradient(hsla(28, 53%, 30%,.4), hsla(28, 53%, 30%,.4)), url("../images/brett-and-chris.jpg");
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, top;
  color: #fefefe;
}

#testimonials > div:first-of-type {
  margin-bottom: 1rem;
  background-color: hsla(290, 6%, 18%, .75);
}

#testimonials > div:first-of-type h2 {
  color: #fefefe;
}

#testimonials p {
  color: #fefefe;
}

.testimonial-slider-container {
  background: transparent;
  padding: 1rem 1rem;
}

.testimonial-slider-container .orbit-previous,
.testimonial-slider-container .orbit-next {
  color: #fefefe;
}

.orbit-next, .orbit-previous {
}

.testimonial-slider-container .orbit-previous:hover, .testimonial-slider-container .orbit-previous:active, .testimonial-slider-container .orbit-previous:focus,
.testimonial-slider-container .orbit-next:hover,
.testimonial-slider-container .orbit-next:active,
.testimonial-slider-container .orbit-next:focus {
  background-color: transparent;
}

.testimonial-slider-container .orbit-previous {
  left: -1rem;
}

.testimonial-slider-container .orbit-next {
  right: -1rem;
}

.testimonial-slider-container .testimonial-slide {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonial-slider-container .testimonial-slide-content {
  padding: 1rem 1.5rem;
}

@media screen and (min-width: 40em) {
  .testimonial-slider-container .testimonial-slide-content {
    padding: 1rem 4rem;
  }
}

.testimonial-slider-container .profile-pic {
  max-width: 225px;
}

.testimonial-slider-container .testimonial-slide-text {
  padding-left: 3rem;
}

.testimonial-slider-container .testimonial-slide-quotation {
  position: relative;
}

.testimonial-slider-container .testimonial-slide-quotation::before {
  content: "“";
  font-size: 6rem;
  color: #fefefe;
  position: absolute;
  top: -3rem;
  left: -3rem;
}

.testimonial-slider-container .testimonial-slide-author-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 39.9375em) {
  .testimonial-slider-container .testimonial-slide-author-container .testimonial-slide-author-info {
    margin-left: 1rem;
  }
}


/* *******************************************************************
MESSAGE
******************************************************************* */


#message-text {
  border: 1px solid hsl(290, 6%, 18%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


/* *******************************************************************
TIPS AND TOOLS
******************************************************************* */


#tips-links a {
    display: flex;
    justify-content: center;
    align-items: center;
  height: 100%;
}

#tips-links > div {
  height: 14rem;
  border: 1px solid #fff;
}

#tips-links p {
  color: #fefefe;
}

#tips-links > div:first-of-type {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/sherwin.jpg);
  background-size: cover;
}

#tips-links > div:nth-of-type(2) {
  background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../images/dunn.gif);
  background-size: cover;
}


/* *******************************************************************
VENDORS
******************************************************************* */


#vendors {
  padding: 3rem 0;
    background: linear-gradient(hsla(28, 53%, 30%,.3), hsla(28, 53%, 69%,.3)), url("../images/brushes960.jpeg");
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center, top;
    color: #fefefe;
}

#vendors > div:first-of-type {
  margin-bottom: 2rem;
  background-color: hsla(290, 6%, 18%, .75);
}

#vendors h2, #vendors p, #vendors a {
  color: #fefefe;
}


/* *******************************************************************
FOOTER
******************************************************************* */


#footer {
  background: hsl(290, 6%, 18%);
  color: #fefefe;
}

#footer h2, #footer li {
  color: #fefefe;
}

#footer i {
  font-size: 1.5rem;
  color: #98dafc;
}

#footer a {
  padding: .1rem .5rem;
}

#footer .contact-us-section .contact-us-section-left {
  border-color: #98dafc;
}

#footer li {
  margin-bottom: 1.5rem;
}

#footer .button {
  background-color: #98dafc;
  color: hsl(290, 6%, 18%);
}

.contact-us-section {
  padding: 2rem;
}

.contact-us-section .contact-us-section-left {
  padding-right: 2rem;
  border-bottom: 2px solid #e6e6e6;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-left {
    border-right: 1px solid #e6e6e6;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

.contact-us-section .contact-us-section-right {
  padding-left: 2rem;
}

@media print, screen and (min-width: 40em) {
  .contact-us-section .contact-us-section-right {
    border-left: 1px solid #e6e6e6;
  }
}

.contact-us-section .contact-us-header {
  margin-bottom: 2rem;
}

@media screen and (min-width: 40em) and (max-width: 74.9375em) {
  .contact-us-section .contact-us-header {
    font-size: 2rem;
  }
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form textarea {
  margin-bottom: 1.5rem;
}

.contact-us-form-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact-us-form-actions input[type=submit] {
  border-radius: 5000px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-us-list {
  list-style-type: none;
  margin: 0;
}

.contact-us-list li a {
  color: #fefefe;
}

.contact-us-list li::before {
  margin-right: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  color: #8a8a8a;
  font-family: 'FontAwesome';
}
