#title {
  background-color: #aaa;
}

#hero {
  background-image: linear-gradient(rgba(150,150,150,.4), rgba(150,150,150,.4)), url(../images/brush.jpg);
  background-position: center, center;
  background-size: cover, cover;
  height: 60vh;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero-text {
  color: #fff;
  text-shadow: 1px 1px 2px #0a0a0a;
}
}
