@media screen and (max-width: 39.999rem) {
  #message {
    margin-top: 0!important;
  }

  #message .column:first-of-type {
    padding: 0;
  }

.top-bar .top-bar-right {
  flex: 0 1 auto;
}

}



@media screen and (max-width: 963px) {

  #large-topbar li {
    font-size: .75rem;
  }

  #large-topbar .top-bar-title h2 {
    font-size: 1.5rem;
  }

  #large-topbar .top-bar-title {
    width: 3rem;
  }

}


@media screen and (min-width: 40rem) {

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.accordion-title {
  font-size: 1.7rem;
}

.accordion p {
  font-size: 1.2rem;
  line-height: 2rem;
}

  section:not(#hero) {
  margin-top: 6rem;
  }
}



@media screen and (min-width: 964px) {

  h1 {
    font-size: 4rem;
  }

  #large-topbar li {
    font-size: 1.1rem;
  }

  #large-topbar .top-bar-title h2 {
    font-size: 2.1rem;
  }

  #message > .row {
    position: relative;
    align-items: center;
  }

  #message-text {
    background-color: #fff;
    position: absolute;
    left: 26rem;
    font-size: 1.3rem;
  }

  #tips-links > div {
    height: 17rem;
  }

}



@media screen and (min-width: 1190px) {

  #large-topbar li {
    font-size: 1.5rem;
  }

  #large-topbar .top-bar-title h2 {
    font-size: 2.5rem;
  }

}
